@import "./../../../App.scss";

.info-container {
  max-width: 100%;
  margin-top: 16px;
  background-color: $colorWhite;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  padding: 32px 24px 32px 24px;

 

  .info-header {
    display: flex;
    align-items: center;
    img {
      width: 70px;
      border-radius: 50%;
      margin-right: 19px;
    }
    div {
      display: flex;
      flex-direction: column;
      h3 {
        font-weight: 700;
        color: $colorDarkBlue;
      }
      h4:nth-child(2) {
        color: $colorBlue;
      }
      h4:nth-child(3) {
        color: $colorGray;
      }
    }

  }

  .info-body {
    h4:first-child {
      line-height: 25px;
      color: $colorLightBlue;
      margin-top: 33px;
    }
    .info-data {
      display: flex;
      justify-content: space-evenly;
      background-color: $colorOffWhite;
      border-radius: 10px;
      align-items: center;
      margin-top: 23px;
      margin-bottom: 24px;
      padding: 18px 0;
      p {
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        color: #4b6a9b;
        margin-bottom: 8px;
      }
      h3 {
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;

        color: #2b3442;
      }
    }
  }



  .info-footer {
    div {
      display: flex;
      margin-bottom: 16px;
      align-items: center;
      h4 {
        margin-left: 13px;
      }
      &:nth-child(1) h4 {
        margin-left: 18px;
      }
    }
  }
}
