@import "./../../App.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  div {
    display: flex;
    h4 {
        letter-spacing: 2.5px;
    }
    img {
        height: 20px;
        margin-left: 16px;
    }
  }
}
